.vscode
**/__pycache__
**/geckodriver.log
*.pkl
*.zip
*.tar*
field_study_domain2brand/expand_targetlist
*.npz
knowledge_expansion/deprecated/checkpoints/*
knowledge_expansion/deprecated/wandb/*
./kits_full_unzip
./kits


