.vscode
knowledge_expansion/api_key.txt
knowledge_expansion/discoverylabel.json
**/__pycache__
**/geckodriver.log
*.pkl
*.zip
*.tar*
field_study_domain2brand/expand_targetlist
*.npz
knowledge_expansion/phishintention/models
./kits_full_unzip
./kits


