numpy
Pillow
opencv-python
tqdm
requests
pandas
requests
urllib3
google-cloud-vision
gdown
tldextract
editdistance
webdriver-manager
mime
unidecode
faker
googletrans
h11==0.8.1
selenium==4.0.0
pyopenssl==22.0.0
selenium-wire
psutil
lxml
helium